files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_userdata.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Executando User Data..."
      cd /tmp/
      sudo wget https://chromedriver.storage.googleapis.com/80.0.3987.106/chromedriver_linux64.zip
      sudo unzip chromedriver_linux64.zip
      sudo mv chromedriver /usr/bin/chromedriver
      chromedriver --version
      sudo curl https://intoli.com/install-google-chrome.sh | bash
      sudo mv /usr/bin/google-chrome-stable /usr/bin/google-chrome
      google-chrome --version && which google-chrome
